/* Enter your custom styles here */
/*body
{ 
background:url(images/top_bg.jpg) repeat-x top #F6F5E9;
margin:auto;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size:11px;
color:#ccc;
border:2px blue solid;
}
img
{
border:2px blue solid !important;
}*/

.yk-img-1
{
	padding:10px 5px 15px 20px;
}